
{% extends "layout/auth.html" %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">
	{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
    <form class="card" action="{{ url_for('send_reset_password') }}" method="post">
        <div class="card-body p-6">
            <div class="text-center card-title">Forgot password</div>
                <div class="input-icon form-group">
                    <span class="input-icon-addon search-icon">
                        <i class="zmdi zmdi-email"></i>
                    </span>
                    <input type="text" name="email" class="form-control" placeholder="Email" id="email" required>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
                <div class="text-center text-muted mt-3 ">
                Forget it, <a href="{{ url_for('login') }}">send me back</a> to the sign in screen.
            </div>
        </div>
    </form>
{% endblock %}
