<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0061da">
	<meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Title -->
    {% if title %}
    <title>Management App - {{title}}</title>
    {% else %}
    <title>Management App</title>
    {% endif %}
	<link rel="stylesheet" href="{{ url_for('static',filename='fonts/fonts/font-awesome.min.css') }}">

	<!-- Font Family-->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	
	<!-- Sidemenu Css -->
	<link href="{{ url_for('static', filename='plugins/fullside-menu/css/style.css' ) }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='plugins/fullside-menu/waves.min.css' ) }}" rel="stylesheet">
	
	<!-- Dashboard css -->
	<link href="{{ url_for('static', filename='css/dashboard.css' ) }}" rel="stylesheet">

	<!-- c3.js Charts Plugin -->
	<link href="{{ url_for('static', filename='plugins/charts-c3/c3-chart.css' ) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/sweet-alert/sweetalert.css') }}" rel="stylesheet">

	<!---Font icons-->
	<link href="{{ url_for('static', filename='css/icons.css' ) }}" rel="stylesheet">

</head>
	<body>
		<div class="login-img">
			<div id="global-loader"></div>
			<div class="page">
				<div class="page-single">
					<div class="container">
						<div class="row">
							<div class="col col-login mx-auto">
								<div class="text-center mb-6">
									<img src="{{ url_for('static', filename='images/brand/logo.png' ) }}" class="h-8" alt="">
                                </div>
                                {% block body %}
                                {% endblock %}
                                
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Dashboard js -->
		<script src="{{ url_for('static', filename='js/vendors/jquery-3.2.1.min.js' ) }}"></script>
		<script src="{{ url_for('static', filename='js/vendors/bootstrap.bundle.min.js' ) }}"></script>
		<script src="{{ url_for('static', filename='js/vendors/jquery.sparkline.min.js' ) }}"></script>
		<script src="{{ url_for('static', filename='js/vendors/selectize.min.js' ) }}"></script>
		<script src="{{ url_for('static', filename='js/vendors/jquery.tablesorter.min.js' ) }}"></script>
		<script src="{{ url_for('static', filename='js/vendors/circle-progress.min.js' ) }}"></script>
		<script src="{{ url_for('static', filename='plugins/rating/jquery.rating-stars.js' ) }}"></script>
		
		<!-- Fullside-menu Js-->
		<script src="{{ url_for('static', filename='plugins/fullside-menu/jquery.slimscroll.min.js' ) }}"></script>
		<script src="{{ url_for('static', filename='plugins/fullside-menu/waves.min.js' ) }}"></script>
        <script src="{{ url_for('static', filename='plugins/sweet-alert/sweetalert.min.js') }}"></script>

		<!-- Custom scroll bar Js-->
		<script src="{{ url_for('static', filename='plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js' ) }}"></script>

		<!-- Custom Js-->
		<script src="{{ url_for('static', filename='js/custom.js' ) }}"></script>
	</body>
</html>